<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="second_project" type="tf_publisher" name="tf_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="linker" args=" 0 0 0 0 0 0 0 base_footprint base_link 100"/>


    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="velodyne_points"/>
        <remap from="scan" to="converted_scan"/>
        <rosparam>
            target_frame: base_link
            transform_tolerance: 0.001
            min_height: 0.0
            max_height: 1.0

            angle_min: 0
            angle_max: 1.5708
            angle_increment: 0.0087
            scan_time: 0.33333
            range_min: 0.45
            range_max: 4.0
            use_inf: true

            concurrency_level: 1
        </rosparam>
    </node>


    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>

        <param name="map_update_interval" value="1.0"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.1"/>

        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-10.0"/>
        <param name="xmax" value="10.0"/>
        <param name="ymax" value="10.0"/>
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping2" output="screen">

        <remap from="scan" to="scan"/>
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>

        <param name="map_update_interval" value="1.0"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.1"/>

        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-10.0"/>
        <param name="xmax" value="10.0"/>
        <param name="ymax" value="10.0"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/config_mapping.rviz"/>
</launch>